.header {
  background: linear-gradient(
    to bottom,
    #7a7b86bb 59%,
    #7a7b86d5 10%,
    rgba(245, 245, 220, 0.097) 70%
  );
  height: 80px;
  font-weight: 600;
}

.header_block {
  height: 52px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header_itemLink {
  /* color: darkblue; */
  color: #f4f3ef6f;
  font-size: 15px;
  transition: 0.6s ease;
}
.header_itemLink:hover {
  /* text-shadow: 0px -1px 19px #fafafa; */
  color: #f4f3efd8;
  transition: 0.4s ease;
}
.header_items {
  display: flex;
  gap: 120px;
}

.mobileBurgerButton {
  display: none;
}
@media (max-width: 1200px) {
  .header_block {
    justify-content: space-around;
  }
  .header_items {
    gap: 70px;
  }
}
@media (max-width: 888px) {
  .header_items {
    gap: 44px;
  }
}
@media (max-width: 768px) {
  .mobileBurgerButton {
    display: block;
    cursor: pointer;
    padding: 0 30px 0 0;
  }
  .header {
    position: fixed;
  }
  .header_block {
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    background:#7a7b86b6;
  }

  .header_items {
    gap: 35px;
    overflow: hidden;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    flex-direction: column;
    background:#7a7b86b6;
    align-items: end;
    transition: all .7s;
}
.active{
    padding: 5px 25px 25px 25px;
    top: 50px;
    transition: all .6s;
  }
.header_block {
    justify-content: space-between;
}
}
.mobileBurgerButton div {
  width: 23px;
  height: 2px;
  border-radius: 5px;
  margin: 5px;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

/* .nav__active {
  opacity: 1;
  display: flex;
  transition: 0.3s ease;
} */
.toggle .line1 {
  transform: rotate(-45deg) translate(0px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -10px);
}
